/* Navbar */
.tcs-logo-navbar{
    width: 50px;
    height: 50px;
}

.nav-title{
    font-size: 1.3rem;
}

/* Footer */
.tcs-footer{
    color: #7f7c7c;
    font-size: 0.8rem;
    text-align: center;
}

.tcs-logo-con-nombre-footer{
    width: 150px;
    height: 80px;
}

p{
    margin: 0.5rem;
}

/* Error 404 */

.tcs-error404-titulo{
    margin-top: 2rem;
    margin-bottom: 0%;
    color: #4f4233;
    font-size: 5rem;
    text-align: center;
}   
.tcs-error404{
    color: #4f4233;
    text-align: center;
    font-size: 10rem;
}
.tcs-error404-logo{
    width: 10rem;
    height: 10rem;
}

/* Detalle del producto */
.tcs-nombre-producto{
    font-size: 1.8rem;
    color: #4f4233;
}
.tcs-detalle-producto{
font-size: 1.2rem;
}
.tcs-precio{
    font-size: 1.5rem;
    color: #4f4233;
}
.tcs-promo-cuotas{
    font-size: 1rem;
    color: #3b6336;
}
.tcs-imagen-tarjetas-bancarias{
    width: 7rem;
    height: 1rem;   
}