/* Navbar */
.tcs-logo-navbar{
    width: 50px;
    height: 50px;
}

.nav-title{
    font-size: 1.3rem;
}

/* Footer */
.tcs-footer{
    color: #7f7c7c;
    font-size: 0.8rem;
    text-align: center;
}

.tcs-logo-with-name-footer{
    width: 150px;
    height: 80px;
}

p{
    margin: 0.5rem;
}

/* Error 404 */

.tcs-error404-title{
    margin-top: 2rem;
    margin-bottom: 0%;
    color: #4f4233;
    font-size: 5rem;
    text-align: center;
}   
.tcs-error404{
    color: #4f4233;
    text-align: center;
    font-size: 10rem;
}
.tcs-error404-logo{
    width: 10rem;
    height: 10rem;
}

/* Detalle del articulo */
.tcs-article-name{
    font-size: 1.8rem;
    color: #4f4233;
}
.tcs-product-details{
font-size: 1.2rem;
}
.tcs-price{
    font-size: 1.5rem;
    color: #4f4233;
}
.tcs-quota-promo{
    font-size: 1rem;
    color: #3b6336;
}
.tcs-bank-cards-img{
    width: 7rem;
    height: 1rem;   
}

/* Carrito */

.tcs-my-car-title{
    font-size: 2rem;
    color: #4f4233;
}

.tcs-img-item{
    width: 5rem;
    height: 5rem;
    object-fit: cover
}

.tcs-resum-title{
    font-size: 1.5rem;
    color: #4d4236;
}

.tcs-total-title{
    font-size: 1.2rem;
    color: #4d4236;
}

/*Items */
.quantity-input::-webkit-outer-spin-button,
.quantity-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}